img {
    width: 200px;
    height: 200px;
}

.align {
    justify-content: space-between;
    display: flex;
}

h1 {
    background-color:lightskyblue;
    padding: 30px 60px;
    color: white;
    text-align: center;
}