img {
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
    color: lightskyblue;
}

h2 {
    text-align: center;
    color: lightskyblue;
}

.align {
    justify-content: space-between;
    display: flex;
}